.hero-title-btn {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $third-color;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* outline: none; */
}

// ------------------footer btn-------------
.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  width: 200px;
  padding: 10px 28px;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $third-color;
}

.icon-submit-btn {
  display: block;
  margin-left: 10px;
  fill: currentColor;
}

// -----------------------modal btn---------------------
.form-btn-submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 10px 55px;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $third-color;
}
