.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 1;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: $third-color;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background-color: $third-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: $accent-color;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
}

.modal-form-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: $second-color;
  margin-bottom: 12px;
  display: block;
}

.modal-form-label,
.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $main-color;
}

.modal-form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus,
.modal-form-comment:focus {
  outline: none;
  border: 1px solid $accent-color;
}

.modal-form-input:focus + .icon-modal-form {
  fill: $accent-color;
}

.modal-form-comment {
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field:nth-last-child(1) {
  margin-bottom: 20px;
}

.modal-agreement {
  display: flex;
  width: 448px;
  justify-content: start;
  align-items: center;
  margin-bottom: 30px;
}

.modal-icon-wrap {
  position: relative;
}

.icon-modal-form {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: $second-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox {
  margin-right: 7px;
}

.modal-label-link {
  color: $accent-color;
  margin-left: 3px;
}

.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-check-item {
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid $second-color;
  border-radius: 2px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.icon-modal-check {
  fill: $third-color;
}

.modal-form-checkbox:checked + .checkbox-label .modal-check-item {
  background-color: $accent-color;
  border: none;
}

.modal-form-checkbox:focus + .checkbox-label .modal-check-item {
  border-color: $accent-color;
}

.icon-submit-btn {
  display: block;
  margin-left: 10px;
  fill: currentColor;
}
