body {
  color: $main-color;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work__list,
.team-list,
.partners-list {
  @extend %list;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work,
.team,
.partners {
  padding-bottom: 94px;
}
