.advant__text,
.team__text,
.hero__title,
.title,
.advant__title,
.work__title,
.team__title,
.footer__title,
.card__label,
.card__text,
.card__title {
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 0;
}
