.footer {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: $background-color;
  padding-top: 60px;
  padding-bottom: 60px;
  &__container {
    display: flex;
    align-items: baseline;
  }
}

.footer__list {
  @extend %list;
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__link {
  @extend %link;
  display: block;
  width: 231px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.footer__link--white {
  color: $third-color;
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $third-color;
}
