.work-item {
  position: relative;
  margin-right: 30px;
}

.work-item:last-child {
  margin-right: 0;
}

.work-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 82px 27px 83px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-label-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $third-color;
}
